/*-------Обнуление--------------------------------------------------*/
html,
body {
 height: 100%;
 line-height: 1;
 font-family: OpenSans;
 font-size: 13px;
 color: #48555B;
}

.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

a {
	text-decoration: none;
}

ul,
li {
 list-style: none;
}

img {
	vertical-align: top;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: inherit;
	font-size: inherit;
	margin: 0;
	padding: 0;
}
._conteiner {
	max-width: 940px;
	margin: 0 auto;
}
/*-------HEADER--------------------------------------------------*/

.header {
	min-height: 100vh;
	display: flex;
	background-image: url(img/bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50%;
}

.header_conteiner{
  flex: 1 1 auto;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}


.header__logo {
	align-items: center;
	margin-top: 41px;
}

.title {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	justify-content: center;
   padding: 90px 0 0 0;
}


.header__title {
	font-family: 'BebasNeueBold';
	font-size: 60px;
	line-height: calc(70.3 / 60 * 100%);
	color: #ffffff;
}

.header__subtitle {
	color: #ffffff;
	font-size: 16px;
	line-height: calc(19 / 11 * 100%);

}

.header__scrol-title {
	text-align: center;
	margin-bottom: 71px;
}

.header__button {
   color: #ffffff;
	font-size: 11px;
   line-height:calc(13 / 11 * 100%);
   letter-spacing: 3.7px;
}

/*-------MAIN----------------------
-------------------------------------*/

.main {
	flex: 1 1 auto;
}
/*-------NAV----------------------
-------------------------------------*/
.nav_conteiner {
	height: 65px;
	max-width: 940px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav__link {
font-size: 12px;
line-height: 14px;
letter-spacing: 1.1px;
color: #48555B;
padding-right: 30px;
}

.nav__link:last-child {
	padding-right: 0px;
}

.nav__link_blue {
	color: #00A4E5;
}

/*-------STORY----------------------
-------------------------------------*/
.story {
}

.story__conteiner {
	margin-top: 43px;
}

.story__title {
   height: 48px;
	font-size: 18px;
	font-weight: 700;
	line-height: calc(21 * 18/ 100%);
	letter-spacing: 2.3px;
	text-align: center;
}
.story__title:after {
   content: "";
   display: block;
	height: 2px;
	width: 50px;
	margin: 15px auto 0;
	
	background-color: #00A4E5;
}

.story__subtitle {

}

.story__text {
	max-width: 50%;

}

.story__text-up {
	font-size: 20px;
	font-weight: 700;
	line-height: calc(23 * 20 / 100%);
	letter-spacing: 0.2px;
	text-align: left;
}

.text_blue {
	color: #00A4E5;
}

.story__text-down {
font-size: 13px;
font-weight: 400;
line-height: calc(23 * 13) / 100%;
letter-spacing: 0.2px;
text-align: left;

}

.story__columns {
}

.story__column {
}

.column__title {
}

.column__image {
}

/*-------FOOTER----------------------
-------------------------------------*/

.footer {
	display: flex;
	height: 60px;
	align-items: center;
	justify-content: center;
	background-color: #171819;
	
	color: #ffffff;
	font-size: 11px;
	font-weight: 400;
	line-height: calc(13 * 11 / 100%);
	letter-spacing: 0.9px;
}